
<center>
<%- include("components/navbar") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/home') %>
</head>
<body>

    <% if(error) %>
    <h3><%= error %></h3>

    <form method="post">
        <label for="">User Name</label><br>
        <input type="text" name="userName" id=""><br><br>
        <label for="">Pasword</label><br>
        <input type="text" name="password" id=""><br><br>

        <button type="submit"> Login </button>
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
</center>