
<center>
<%- include("components/navbar") %>
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    <% if(error) %>
    <h3><%= error %></h3>

    <form method="post">
        <label for="">Email</label><br>
        <input type="text" name="email" id=""><br><br>
        <label for="">Pasword</label><br>
        <input type="password" name="password" id=""><br><br>
        <button type="submit"> Login </button>
    </form>

    <a href="/register">| Register |</a>
</body>
</html>
</center>