<center>
    <%- include("components/navbar") %>
        <div> 
            <a style="text-decoration: none; color: rgb(197, 117, 13);">
                <h1>Add product</h1>
            </a>
        <form action="/product/add" method="POST" id="form-add">
                    <label>Name :</label><br>
                    <input type="text" name="name" autocomplete="off" placeholder=""><br><br>
                    <label>Description :</label><br>
                    <input type="text" name="description" autocomplete="off" placeholder=""><br><br>
                    <label>Stock :</label><br>
                    <input type="number" name="stock" autocomplete="off" placeholder=""><br><br>
                    <label>Price :</label><br>
                    <input type="number" name="price" autocomplete="off" placeholder=""><br><br>
                    <label>Category :</label><br>
                    <select name="CategoryId">
                    <option>-- Select Category --</option>
                    <% for (let i = 0; i <data.length; i++){ %> 
                        <option name="CategoryId" value="<%=data[i].id %>"><%=data[i].name %></option>
                    <% } %> 
                    </select><br><br>
                    <input type="submit" value="Save Product" id="add-button">
        </form>
    </div>
</body>
</center>
</html>

