<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./components/navbar") %>
</head>
<body>
<center>
    <div>
        <a href="/">Home</a>
    </div>

    <div>
        <h2>Register</h2>
        <form method="POST">
                <input type="text" name="email" placeholder="email"><br><br>
                <input type="text" name="userName" placeholder="userName"><br><br>
                <input type="text" name="password" placeholder="password"><br><br>
                <input type="text" name="name" placeholder="name"><br><br>
                <input type="text" name="phoneNumber" placeholder="phone number"><br><br>
                <input type="text" name="address" placeholder="address"><br><br>
                <button>submit</button>
        </form>
    </div>
</center>
</body>
</html>