<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
</head>
<body>
    <center>
        <div>
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total</th>
                    <th scope="col">Total Produk</th>
                    <th scope="col">Alamat</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
        </div>
    </center>
</body>
</html>